a{
    text-decoration: none;
}
/* codingan sendiri */
.s1-a{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}
.i-s1{
    width: 230px;
    border-radius: 15px;
}
.dd{
    margin-left: 60px;
    width: 1000px;
    background-color: rgb(175, 88, 255);
    border-radius: 20px;
}
.title-dd{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 20px;
}
.isi-dd{
    margin-top: 30px;
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
}
/* section2 */
.s2-a{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 50px;
}

.igtt{
    transition: 0.5s;
    height: 432px;
}
.nick{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.hvr-lg{
    fill: rgb(0, 0, 0);
    cursor: pointer;
    margin: 0;
}
.igtt:hover{
    transition: 0.5s;
    transform: scale(1.09);
}
.igtt:active{
    transition: 0.5s;
    transform: scale(0.8);
}
.igtt:hover .nick{
    color: rgb(0, 218, 218);
    transition: 0.5s;
}


/* dari uiverse */
.myCard {
    background-color: transparent;
    width: 243px;
    height: 432px;
    perspective: 1000px;
}
  
.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
  
.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}
  
.myCard:hover .innerCard {
    transform: rotateY(180deg);
}
  
.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}
  
.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}
  
.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
  
.backSide {
    transform: rotateY(180deg);
}
  
.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}
  
  @keyframes animate {
        0% {
            opacity: 0.3;
        }
  
        80% {
            opacity: 1;
        }
  
        100% {
            opacity: 0.3;
        }
    }
